<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopfood"
        tools:targetApi="31">
        <activity
            android:name=".PendingOrder"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.PayableOrders"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.OrderDish"
            android:exported="false" />
        <activity
            android:name=".deliveryFoodPanel.Delivery_shipOrder_View"
            android:exported="false" />
        <activity
            android:name=".deliveryFoodPanel.Delivery_PendingOrder_View"
            android:exported="false" />
        <activity
            android:name=".deliveryFoodPanel.Delivery_ShippingOrder"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.Customer_PhoneNumber"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.Customer_Payment_OPT"
            android:exported="false" />

        <activity android:name=".CustomerFoodPanel_BottomNavigation"
            android:exported="false"/>
        <activity
            android:name=".customerFoodPanel.CustomerPhoneSendOPT"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.customerPassword"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.Customer_Online_Payment"
            android:exported="false" />
       
        <activity
            android:name=".customerFoodPanel.Customer_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.Chef_Prepared_Order_View"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.Chef_Prepared_Order"
            android:exported="false" />

        <activity android:name="ChefFoodPanel_BottomNavigation"
            android:exported="false"/>
        <activity
            android:name=".chefFoodPanel.Chef_Order_Tobe_Prepared_View"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.Chef_Order_Tobe_Perpared"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.chef_order_dishes"
            android:exported="false" />



        <activity
            android:name=".chefFoodPanel.Chef_PostDish"
            android:exported="false" />
        <activity
            android:name=".Delivery_sendopt"
            android:exported="false" />
        <activity
            android:name=".DeliveryForgotPassword"
            android:exported="false" />
        <activity
            android:name=".DeliveryFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Delivery_VerifyPhone"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Chefsendopt"
            android:exported="false" />
        <activity
            android:name=".ChefForgotPassword"
            android:exported="false" />

        <activity
            android:name=".ChefVerifyPhone"
            android:exported="false" />
        <activity
            android:name=".sendotp"
            android:exported="false" />
        <activity
            android:name=".verify_phone"
            android:exported="false" />
        <activity
            android:name=".Delivery_Registration"
            android:exported="false" />
        <activity
            android:name=".Delivery_Loginphone"
            android:exported="false" />
        <activity
            android:name=".Delivery_Login"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Loginphone"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".ChefRegistration"
            android:exported="false" />
        <activity
            android:name=".Chefloginphone"
            android:exported="false" />
        <activity
            android:name=".ChefLogin"
            android:exported="false" />
        <activity
            android:name=".ChooseOne"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>